# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальное окружение
SEG_env/
venv/
env/
.env

# Редакторы и система
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Логи
*.log
data/*
preprocessed_data/*
data_preprocess_step1/*
rendering_understanding_prep_data/*
output/*
*.png
*.jpg
*.zip
data_preprocess/*